mixin contact()
  - var icons = ['mail', 'github', 'weibo']
  .contact
    h2 Contact me
    ul      
      each icon in icons
        li
          a(class='iconfont icon-' + icon, href=theme.contact[icon], target='_blank')

  .donate
    h2 Donate
    p 如果觉得我的博客对你有帮助，可以扫一扫请我喝杯咖啡。
    img(src="http://7q5etm.com1.z0.glb.clouddn.com/donate.png", alt="捐赠")
